<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps<{ url?: string, code?: string, techs?: string[], oldTechs?: string[], id: number, type: 'download'|'link'|'archived'|'upcoming'|'hidden' }>()

const allTechs = computed(() => {
  const techs = (props.techs ?? []).map(x => ({ name: x, used: true }))
  const oldTechs = (props.oldTechs ?? []).map(x => ({ name: x, used: false }))
  return [...techs, ...oldTechs]
})
</script>

<template>
  <div class="border border-zinc-600 rounded-lg p-4 mb-2 relative">
    <span class="absolute -top-3 -right-3 w-8 h-8 bg-zinc-800 grid place-items-center rounded-lg border border-zinc-600">{{ id }}</span>
    <span class="flex gap-2 border-b border-zinc-600 pb-2">
      <slot name="icon"></slot>
      <h3 class="flex flex-col flex-grow text-xl font-semibold">
        <slot name="heading"></slot>
      </h3>
      <a v-if="code" class="grid place-items-center w-8 h-8 rounded-full hover:bg-zinc-800" :href="code" target="_blank" rel="noreferrer" title="Source code">
        <div>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.6,10.59,8.38,4.8l1.69,1.7A2,2,0,0,0,11,8.73v5.54A2,2,0,0,0,10,16a2,2,0,0,0,4,0,2,2,0,0,0-1-1.73V9.41l2.07,2.09A1.17,1.17,0,0,0,15,12a2,2,0,1,0,2-2,1.17,1.17,0,0,0-.5.07L13.93,7.5a2,2,0,0,0-1.15-2.34,2.1,2.1,0,0,0-1.28-.09L9.8,3.38l.79-.78a2,2,0,0,1,2.82,0l8,8a2,2,0,0,1,0,2.82l-8,8a2,2,0,0,1-2.82,0l-8-8A2,2,0,0,1,2.6,10.59Z"/>
          </svg>
        </div>
      </a>
      <span class="grid place-items-center w-8 h-8" v-if="type === 'upcoming'" title="Upcoming">
        <strong class="text-xs">N/A</strong>
      </span>
      <a :href="url" target="_blank" rel="noreferrer" class="grid place-items-center w-8 h-8 rounded-full hover:bg-zinc-800" v-if="type === 'download'" title="Download">
        <svg fill="currentColor" width="24" height="24" viewBox="0 -1.5 35 35" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <path d="M29.426 15.535c0 0 0.648-8.743-7.361-9.74-6.866-0.701-8.955 5.679-8.955 5.679s-2.067-1.988-4.873-0.364c-2.51 1.55-2.067 4.388-2.067 4.388s-5.576 1.083-5.576 6.768c0.125 5.677 6.055 5.734 6.055 5.734h11.351l-5-5h3v-6h4v6h3l-5 5h10.467c0 0 5.52 0.006 6.295-5.395 0.369-5.906-5.336-7.070-5.336-7.070z"></path>
        </svg>
      </a>
      <span class="grid place-items-center w-8 h-8" v-if="type === 'archived'" title="Archived">
        <svg fill="currentColor" width="24" height="24" viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <path d="M224,48H32A16.01833,16.01833,0,0,0,16,64V88a16.01833,16.01833,0,0,0,16,16v88a16.01833,16.01833,0,0,0,16,16H208a16.01833,16.01833,0,0,0,16-16V104a16.01833,16.01833,0,0,0,16-16V64A16.01833,16.01833,0,0,0,224,48Zm-72,96H104a8,8,0,0,1,0-16h48a8,8,0,0,1,0,16Zm72-56H32V64H224l.00977,24Z"/>
        </svg>
      </span>
      <a :href="url" target="_blank" rel="noreferrer" class="grid place-items-center w-8 h-8 rounded-full hover:bg-zinc-800" v-if="type === 'link'" title="Link">
        <svg stroke="currentColor" fill="none" width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 7H16C18.7614 7 21 9.23858 21 12C21 14.7614 18.7614 17 16 17H14M10 7H8C5.23858 7 3 9.23858 3 12C3 14.7614 5.23858 17 8 17H10M8 12H16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </span>
    <div class="details">
      <small class="text-xs">
        <slot name="date"></slot>
      </small>
      <div class="flex flex-wrap gap-2 py-2" v-if="allTechs.length">
        <div class="px-1.5 py-0.5 bg-zinc-400 text-zinc-900 rounded-xl text-xs border border-zinc-400" v-for="tech in allTechs" :key="tech.name" :class="{ 'bg-red-400': !tech.used }">{{ tech.name }}</div>
      </div>
      <slot></slot>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.details :deep() a {
  @apply p-0.5 rounded-xl text-emerald-400 hover:bg-emerald-400 hover:text-zinc-100;
}
</style>
