<script setup lang="ts">
import ProjectItem from './ProjectItem.vue'
import TechsFilters from './TechsFilters.vue'
import { collaborators } from '../assets/content'
import { websites as frenchWebsites } from '../assets/content/french'
import { websites as englishWebsites } from '../assets/content/english'
import { computed, ref } from 'vue'
import { useI18n } from 'vue-i18n'

const i18n = useI18n()
const filters = ref<string[]>([])
const showActive = ref<boolean|undefined>(undefined)
const websites = computed(() => i18n.locale.value === 'fr' ? frenchWebsites : englishWebsites)

function toggleFilter(tech: string) {
  if (filters.value.includes(tech)) {
    filters.value = filters.value.filter(x => x !== tech)
  } else {
    filters.value = [...filters.value, tech]
  }
}

function toggleActive(active?: boolean) {
  if (showActive.value !== active) {
    showActive.value = active
  }
}

const shownWebsites = computed(() => websites.value.filter(x =>
  x.type !== 'hidden' &&
  (
    showActive.value === undefined ||
    (showActive.value === true && x.endDate === '') ||
    (showActive.value === false && x.endDate !== '')
  )
))
const filteredWebsites = computed(() => shownWebsites.value.filter(x =>
  !filters.value?.length ||
  filters.value.some(y => x.techs?.includes(y) || x.oldTechs?.includes(y))
))

function getFilteredParagraph(string: string) {
  return string.replace(/@(\w+)/g, (match, handle: string) => {
    if (collaborators.has(handle)) {
      return `<a href="${collaborators.get(handle)}" target="_blank">@${handle}</a>`
    } else {
      return match
    }
  })
}
</script>

<template>
  <div class="bg-zinc-700 p-4 print:hidden" id="portfolio">
    <TechsFilters :filters="filters" :active="showActive" @toggle-filter="toggleFilter" @toggle-active="toggleActive" />
  </div>
  <div class="p-4 print:hidden">
    <h2 class="text-xl">{{ $t('projects', [filteredWebsites.length]) }}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 py-4">
      <ProjectItem v-for="website in filteredWebsites" :id="shownWebsites.length - shownWebsites.indexOf(website)" :key="website.name" :url="website.url" :techs="website.techs" :code="website.code" :old-techs="website.oldTechs" :type="website.type">
        <template #icon v-if="website.icon">
          <component :is="website.icon" />
        </template>
        <template #heading>{{ website.name }}</template>
        <template #date>{{ website.startDate }} &mdash; {{ website.endDate || $t('now') }}</template>
        <p v-for="(paragraph, i) in website.description" :key="i" v-html="getFilteredParagraph(paragraph)"></p>
      </ProjectItem>
    </div>
  </div>
</template>
