<script setup lang="ts">
import { computed } from 'vue'
import { collaborators } from '../assets/content'
import { resume as frenchResume } from '../assets/content/french'
import { resume as englishResume } from '../assets/content/english'
import { useI18n } from 'vue-i18n'

const i18n = useI18n()
const resume = computed(() => i18n.locale.value === 'fr' ? frenchResume : englishResume)

const shownExperience = computed(() => resume.value.experience.slice(0, 3))
const shownEducation = computed(() => resume.value.education.slice(0, 3))
const shownRealizations = computed(() => resume.value.realizations.slice(0, 3))

function getFilteredParagraph(string: string) {
  return string.replace(/@(\w+)/g, (match, handle: string) => {
    if (collaborators.has(handle)) {
      return `<a href="${collaborators.get(handle)}" target="_blank">@${handle}</a>`
    } else {
      return match
    }
  })
}
</script>

<template>
  <div class="p-4 flex flex-wrap md:flex-nowrap gap-x-4 print:grayscale">
    <div class="w-full md:w-2/5 print:w-1/2 flex flex-col justify-between">
      <h2 class="text-xl print:hidden">{{ $t('resume.summary') }}</h2>
      <div class="hidden print:flex flex-col items-center">
        <h2 class="text-4xl text-center">{{ resume.name }}</h2>
        <span class="font-semibold">{{ $t('resume.title') }}</span>
        <address>Drummondville, Québec, Canada</address>
        <div class="flex items-center gap-1">
          <svg fill="#000000" width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M22,3H2A1,1,0,0,0,1,4V20a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V4A1,1,0,0,0,22,3ZM21,19H3V9.477l8.628,3.452a1.01,1.01,0,0,0,.744,0L21,9.477ZM21,7.323l-9,3.6-9-3.6V5H21Z"/>
          </svg>
          <span>info@binar.ca &bullet; binarmorker@gmail.com</span>
        </div>
        <div class="flex items-center gap-4">
          <div class="flex items-center gap-1">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.09253 5.63644C4.91414 12.8995 11.1005 19.0859 18.3636 19.9075C19.3109 20.0146 20.1346 19.3271 20.3216 18.3922L20.7004 16.4979C20.8773 15.6135 20.4404 14.7202 19.6337 14.3168L18.3983 13.6992C17.5886 13.2943 16.6052 13.5264 16.062 14.2507C15.7082 14.7224 15.14 15.01 14.5962 14.782C12.7272 13.9986 10.0014 11.2728 9.21796 9.40381C8.99002 8.86004 9.27761 8.2918 9.7493 7.93802C10.4736 7.39483 10.7057 6.41142 10.3008 5.60168L9.68316 4.36632C9.27982 3.55963 8.38646 3.12271 7.50207 3.29959L5.60777 3.67845C4.67292 3.86542 3.98537 4.68912 4.09253 5.63644Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>819-817-6774</span>
          </div>
          <div class="flex items-center gap-1">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 18.7083C17.4832 16.375 15.5357 15 12.0001 15C8.46459 15 6.51676 16.375 6 18.7083M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21ZM12 12C13.3333 12 14 11.2857 14 9.5C14 7.71429 13.3333 7 12 7C10.6667 7 10 7.71429 10 9.5C10 11.2857 10.6667 12 12 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <a href="https://binar.ca">binar.ca</a>
          </div>
        </div>
      </div>
      <p class="py-2 print:text-sm">{{ resume.summary }}</p>
      <ul class="list-disc pl-4 py-2 print:text-sm">
        <li v-for="achievement in resume.achievements" :key="achievement">{{ achievement }}</li>
      </ul>
      <h3 class="text-xl">{{ $t('resume.education') }}</h3>
      <ul class="py-2 flex flex-col gap-4">
        <li v-for="education in shownEducation" :key="education.title">
          <div class="bg-zinc-700 print:bg-white print:border print:border-black p-4 flex flex-col gap-2">
            <div class="flex justify-between text-zinc-100 bg-zinc-600 print:text-black print:bg-transparent -mx-4 -mt-4 print:-my-4 p-4 font-semibold">
              <span class="text-lg">{{ education.title }}</span>
              <span class="text-nowrap ml-2">{{ education.startDate }} &mdash; {{ education.endDate || $t('now') }}</span>
            </div>
            <span class="print:text-sm print:-mt-2">{{ education.location }}</span>
          </div>
        </li>
      </ul>
      <h3 class="text-xl">{{ $t('resume.realizations') }}</h3>
      <ul class="py-2 flex flex-col gap-4">
        <li v-for="realizations in shownRealizations" :key="realizations.name">
          <div class="bg-zinc-700 print:bg-white print:border print:border-black p-4 flex flex-col gap-2">
            <div class="flex justify-between text-zinc-100 bg-zinc-600 print:text-black print:bg-transparent -mx-4 -mt-4 print:-my-4 p-4 font-semibold">
              <span class="text-lg">{{ realizations.name }}</span>
              <span class="text-nowrap ml-2">{{ realizations.date }}</span>
            </div>
            <span class="print:text-sm details" v-html="getFilteredParagraph(realizations.description)"></span>
          </div>
        </li>
      </ul>
    </div>
    <div class="w-full md:w-3/5 print:w-1/2 flex flex-col justify-between">
      <h3 class="text-xl">{{ $t('resume.skills') }}</h3>
      <div class="grid grid-cols-2 gap-4 py-0 print:gap-y-0">
        <div v-for="skill in resume.skills" :key="skill.name">
          <span class="print:text-sm">{{ skill.name }}</span>
          <div class="bg-zinc-600 text-zinc-800 print:bg-transparent print:border border-zinc-700 print:text-zinc-100 relative h-4">
            <div class="bg-emerald-400 print:bg-zinc-700 h-full" :style="{ width: `${skill.proficiency}%` }"></div>
            <small class="absolute inset-0 grid place-items-center text-xs leading-none">{{ skill.proficiency }} %</small>
          </div>
        </div>
      </div>
      <p class="py-2 text-center text-sm print:text-xs">{{ resume.criteria }}</p>
      <h3 class="text-xl">{{ $t('resume.experience') }}</h3>
      <ul class="py-2 flex flex-col gap-4">
        <li v-for="experience in shownExperience" :key="experience.employer">
          <div class="bg-zinc-700 print:bg-white print:border print:border-black p-4 flex flex-col gap-2">
            <div class="flex justify-between text-zinc-100 bg-zinc-600 print:text-black print:bg-transparent -mx-4 -mt-4 print:-my-4 p-4 font-semibold">
              <span class="text-lg">{{ experience.title }}</span>
              <span class="text-nowrap ml-2">{{ experience.startDate }} &mdash; {{ experience.endDate || $t('now') }}</span>
            </div>
            <span class="print:-mt-2">{{ experience.employer }}</span>
            <ul class="list-disc pl-4 py-2 print:text-sm">
              <li v-for="line in experience.achievements" :key="line">{{ line }}</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <small class="hidden print:inline absolute bottom-0 left-0 right-0 text-zinc-500 text-center">{{ $t('resume.note') }}</small>
</template>

<style lang="postcss" scoped>
.details :deep() a {
  @apply p-0.5 rounded-xl text-emerald-400 hover:bg-emerald-400 hover:text-zinc-100;
}
</style>
