<script setup lang="ts">
import { techs } from '@/assets/content'

defineProps<{ filters: string[], active?: boolean }>()
const emit = defineEmits(['toggleFilter', 'toggleActive'])

function toggleFilter(tech: string) {
  emit('toggleFilter', tech)
}

function toggleActive(active?: boolean) {
  emit('toggleActive', active)
}
</script>

<template>
  <h2 class="text-xl">Technologies</h2>
  <div class="flex flex-wrap gap-2 py-2">
    <a class="px-1.5 py-0.5 bg-zinc-300 text-zinc-900 hover:bg-zinc-500 hover:text-zinc-100 rounded-xl text-xs border border-zinc-300" v-for="tech in techs" :key="tech" href="#!" :class="{ '!bg-zinc-800 !text-zinc-100 border-zinc-100': filters.includes(tech) }" @click.prevent="() => toggleFilter(tech)">{{ tech }}</a>
  </div>
  <small class="text-xs">{{ $t('technologies.note') }}</small>
  <div class="flex flex-wrap gap-2 py-2">
    <a class="px-1.5 py-0.5 bg-zinc-300 text-zinc-900 hover:bg-zinc-500 hover:text-zinc-100 rounded-xl text-xs border border-zinc-300" href="#!" :class="{ '!bg-zinc-800 !text-zinc-100 border-zinc-100': active === undefined }" @click.prevent="() => toggleActive(undefined)">
      {{ $t('technologies.all') }}
    </a>
    <a class="px-1.5 py-0.5 bg-zinc-300 text-zinc-900 hover:bg-zinc-500 hover:text-zinc-100 rounded-xl text-xs border border-zinc-300" href="#!" :class="{ '!bg-zinc-800 !text-zinc-100 border-zinc-100': active === true }" @click.prevent="() => toggleActive(true)">
      {{ $t('technologies.active') }}
    </a>
    <a class="px-1.5 py-0.5 bg-zinc-300 text-zinc-900 hover:bg-zinc-500 hover:text-zinc-100 rounded-xl text-xs border border-zinc-300" href="#!" :class="{ '!bg-zinc-800 !text-zinc-100 border-zinc-100': active === false }" @click.prevent="() => toggleActive(false)">
      {{ $t('technologies.archived') }}
    </a>
  </div>
</template>
