<template>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0.00 0.00 400.00 400.00" height="32" width="32" fill="currentColor">
    <path d="
      M 136.30 329.62
      C 126.44 326.17 117.33 322.30 109.01 317.37
      Q 59.97 288.34 41.23 235.48
      Q 28.35 199.14 34.63 160.70
      C 39.32 132.02 52.36 104.31 72.24 82.67
      Q 106.64 45.20 157.27 35.19
      C 160.77 34.50 164.21 34.35 167.69 33.61
      Q 169.67 33.18 171.86 33.03
      Q 216.06 29.85 254.05 49.06
      Q 302.56 73.60 325.69 125.24
      Q 330.10 135.08 333.76 149.89
      C 337.04 163.20 338.16 178.17 338.15 192.42
      Q 338.10 268.25 338.14 337.97
      A 0.32 0.32 0.0 0 1 337.82 338.29
      Q 265.16 338.24 191.84 338.31
      Q 186.03 338.32 180.29 337.71
      C 175.18 337.18 170.05 337.07 164.93 336.40
      Q 149.99 334.43 136.30 329.62
      Z
      M 168.15 119.71
      Q 136.61 130.72 122.53 160.86
      Q 119.35 167.68 117.42 176.00
      Q 117.18 177.02 117.03 178.01
      Q 115.75 186.35 115.98 195.67
      Q 116.21 204.65 118.75 213.35
      Q 126.15 238.64 147.49 254.23
      Q 161.42 264.40 178.27 267.46
      C 181.46 268.04 184.64 268.72 187.90 268.72
      Q 228.88 268.73 268.33 268.72
      A 0.42 0.42 0.0 0 0 268.75 268.30
      Q 268.68 231.22 268.77 191.30
      Q 268.78 183.17 267.53 177.21
      C 264.25 161.64 256.64 147.65 244.93 136.70
      Q 220.97 114.29 187.24 116.05
      Q 177.11 116.57 168.15 119.71
      Z"
    />
    <path d="
      M 343.31 344.03
      A 0.95 0.94 81.8 0 0 343.98 343.12
      Q 344.04 266.00 343.93 183.89
      Q 343.92 176.49 342.21 161.89
      Q 341.99 159.97 341.36 156.70
      Q 340.86 154.11 340.38 151.51
      Q 339.44 146.40 336.45 137.04
      Q 333.94 129.21 331.26 123.00
      Q 311.26 76.66 268.11 49.88
      Q 257.87 43.52 245.54 38.47
      Q 245.42 38.50 245.29 38.47
      Q 244.78 38.32 245.31 38.31
      Q 247.12 38.31 248.59 38.96
      Q 250.58 39.84 251.59 40.04
      Q 256.47 41.01 260.63 43.38
      Q 260.93 43.55 261.27 43.54
      Q 261.76 43.52 262.21 43.70
      Q 267.82 45.93 272.18 48.06
      Q 330.57 76.54 356.04 136.72
      Q 356.56 137.95 356.72 139.03
      C 356.85 139.94 357.54 140.54 357.90 141.42
      Q 359.41 145.05 360.18 148.69
      Q 360.47 150.04 361.10 151.28
      C 362.33 153.67 362.02 156.04 363.14 158.36
      C 363.72 159.57 363.23 160.63 363.67 161.73
      Q 364.55 163.88 364.72 166.25
      Q 364.77 166.85 365.17 167.33
      Q 365.50 167.71 365.57 168.22
      Q 367.93 186.20 367.94 195.52
      Q 368.05 281.97 368.01 367.45
      A 0.56 0.55 -90.0 0 1 367.46 368.01
      Q 285.38 367.98 202.23 368.02
      Q 193.76 368.03 185.82 367.49
      Q 176.19 366.85 168.63 365.23
      C 161.30 363.67 153.75 361.92 146.57 359.47
      Q 109.60 346.84 81.57 319.36
      C 80.66 318.47 80.01 317.51 79.10 316.59
      Q 65.47 302.79 56.39 287.40
      Q 52.75 281.23 49.02 274.22
      Q 47.84 272.00 47.04 269.88
      Q 46.49 268.40 45.78 267.10
      Q 45.05 265.73 44.57 264.29
      Q 43.48 260.97 42.09 257.79
      Q 40.98 255.28 40.27 252.34
      Q 39.59 249.52 38.36 246.64
      Q 38.20 246.27 38.22 245.86
      Q 38.27 245.22 38.53 245.81
      Q 61.44 298.88 110.98 325.34
      Q 134.78 338.06 162.90 342.20
      Q 168.19 342.98 173.54 343.17
      C 178.35 343.34 182.99 344.12 187.83 344.12
      Q 265.03 344.08 342.57 344.14
      Q 342.95 344.14 343.31 344.03
      Z"
    />
  </svg>
</template>