<template>
  <svg fill="currentColor" width="32" height="32" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" id="memory-alpha-b"><path d="M15 1V2H17V3H18V4H19V5H20V7H21V15H20V17H19V18H18V19H17V20H15V21H7V20H5V19H4V18H3V17H2V15H1V7H2V5H3V4H4V3H5V2H7V1H15M14 3H8V4H6V5H5V6H4V8H3V14H4V16H5V17H6V18H8V19H14V18H16V17H17V16H18V14H19V8H18V6H17V5H16V4H14V3M8 6H13V7H14V10H13V12H14V15H13V16H8V6M10 8V10H12V8H10M12 12H10V14H12V12Z" /></svg>
</template>