<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="currentColor">
    <path d="M25.619 14.134c-0.808-0.402-3.943-1.928-4.759-2.287-0.318-0.132-0.567-0.378-0.698-0.686l-0.003-0.008c-0.462-1.131-1.919-4.127-2.15-4.649-0-0.005-0-0.012-0-0.018 0-0.263 0.079-0.508 0.214-0.712l-0.003 0.005c0.339-0.583 2.494-5.242 2.738-5.766 0.075 0.104 2.993 5.983 3.076 6.126 0.104 0.352-0.113 0.637-0.239 0.949-0.244 0.607-0.474 1.219-0.725 1.87 0.9-0.273 1.743-0.692 2.624-1.005 0.88 0.417 5.959 2.859 6.305 3.116-2.105 1.068-4.265 1.984-6.381 3.067z"></path>
    <path d="M6.308 7.94l2.521 1.005c0.035-0.454-0.676-1.957-0.872-2.433 0.005-0.275 0.084-0.53 0.217-0.748l-0.004 0.006c0.462-0.873 2.79-5.652 2.855-5.753 0.509 1.061 2.768 5.923 2.923 6.2 0.035 0.064 0.055 0.141 0.055 0.222 0 0.109-0.037 0.21-0.099 0.29l0.001-0.001c-0.209 0.318-2.080 4.31-2.169 4.565-0.082 0.234-0.239 0.334-0.451 0.436-1.328 0.638-4.625 2.183-4.926 2.372-0.454-0.214-0.911-0.426-1.365-0.643-0.891-0.427-4.877-2.37-4.989-2.458z"></path>
    <path d="M20.408 20.339c0.265-0.113 0.446-0.182 0.619-0.266 0.748-0.367 1.48-0.769 2.243-1.098 0.783-0.339 1.525-0.754 2.352-1.122 0.456 0.224 6.26 3.028 6.367 3.106l-6.283 3.056-2.513-0.974c-0.087 0.445 0.647 1.924 0.813 2.294 0.085 0.305-0.014 0.568-0.158 0.847-0.739 1.429-2.819 5.691-2.871 5.759-0.525-1.066-2.86-5.956-2.937-6.194-0.012-0.050-0.019-0.108-0.019-0.167 0-0.127 0.032-0.246 0.087-0.351l-0.002 0.004c0.412-1.047 0.974-2.022 1.435-3.046 0.288-0.635 0.592-1.262 0.866-1.848z"></path>
    <path d="M6.392 17.837c0.7 0.356 1.373 0.701 2.049 1.040 0.779 0.39 1.581 0.739 2.37 1.105 0.628 0.29 1.025 0.7 1.242 1.303s0.527 1.123 0.802 1.68c0.367 0.745 0.674 1.522 1.037 2.271 0.048 0.088 0.076 0.192 0.076 0.303s-0.028 0.216-0.078 0.307l0.002-0.003c-0.341 0.847-2.646 5.862-2.89 6.146l-2.993-6.142c-0.181-0.437 0.641-2.101 0.829-2.567 0.005-0.037 0.009-0.079 0.009-0.122s-0.003-0.085-0.009-0.127l0.001 0.005-2.555 0.976-6.283-3.062c1.050-0.628 2.136-1.072 3.198-1.571s2.095-1.010 3.194-1.542z"></path>
    <path d="M12.73 18.239l-4.563-2.191 4.524-2.22 1.841 0.754c-0.168-0.436-0.68-1.772-0.661-1.962l2.114-4.409c0.080 0.157 1.363 2.905 2.052 4.162 0.21 0.377 0.023 0.653-0.068 0.951-0.158 0.516-0.315 0.932-0.491 1.338l0.032-0.081s1.199-0.503 1.618-0.653c0.061-0.032 0.133-0.050 0.209-0.050 0.084 0 0.162 0.022 0.23 0.062l-0.002-0.001c1.069 0.549 2.15 1.077 3.229 1.606 0.243 0.118 0.915 0.425 1.038 0.503l-4.563 2.186-1.753-0.718c0.126 0.538 0.368 1.033 0.628 1.654 0.040 0.187-0.054 0.451-0.202 0.731-0.537 1.005-1.684 3.662-1.946 3.929-0.090-0.137-1.694-3.409-2.011-4.014-0.075-0.137-0.12-0.3-0.12-0.473 0-0.097 0.014-0.191 0.040-0.28l-0.002 0.007 0.628-1.576z"></path>
  </svg>
</template>
