<template>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0.00 0.00 202.00 262.00" height="32" width="32" fill="currentColor">
    <path d="
      M 5.01 0.00
      L 197.01 0.00
      Q 196.99 94.37 197.01 188.75
      Q 197.01 192.94 192.98 199.27
      Q 189.82 204.22 185.40 208.34
      Q 174.90 218.10 160.14 226.80
      Q 132.57 243.07 102.03 255.53
      Q 100.84 256.02 99.52 255.46
      C 73.25 244.33 45.63 231.23 23.84 214.61
      C 16.97 209.37 9.27 202.05 6.25 193.89
      Q 5.00 190.53 5.00 183.71
      Q 4.99 91.85 5.01 0.00
      Z
      M 57.68 228.73
      C 71.60 236.18 85.72 242.88 100.56 249.20
      A 0.88 0.85 -44.0 0 0 101.23 249.20
      Q 130.48 237.16 156.53 221.74
      Q 166.20 216.01 175.15 208.96
      C 182.06 203.50 190.59 195.56 190.59 186.19
      Q 190.55 94.33 190.57 6.60
      A 0.46 0.45 90.0 0 0 190.12 6.14
      L 11.87 6.14
      A 0.44 0.43 -0.0 0 0 11.43 6.57
      Q 11.42 94.51 11.44 186.78
      C 11.45 195.36 20.01 203.56 26.26 208.52
      Q 39.38 218.94 57.68 228.73
      Z"
    />
    <path d="
      M 20.89 82.54
      L 20.89 15.07
      A 0.33 0.33 0.0 0 1 21.22 14.74
      L 180.78 14.74
      A 0.33 0.33 0.0 0 1 181.11 15.07
      L 181.12 82.54
      A 0.33 0.33 0.0 0 1 180.64 82.83
      L 101.15 43.52
      A 0.33 0.33 0.0 0 0 100.85 43.52
      L 21.37 82.83
      A 0.33 0.33 0.0 0 1 20.89 82.54
      Z"
    />
    <path d="
      M 107.10 86.39
      L 119.61 88.11
      A 0.31 0.31 0.0 0 1 119.78 88.65
      L 110.74 97.02
      A 0.31 0.31 0.0 0 0 110.65 97.31
      L 112.79 109.16
      A 0.31 0.31 0.0 0 1 112.35 109.49
      L 101.14 103.87
      A 0.31 0.31 0.0 0 0 100.86 103.87
      L 89.66 109.49
      A 0.31 0.31 0.0 0 1 89.22 109.16
      L 91.36 97.33
      A 0.31 0.31 0.0 0 0 91.27 97.04
      L 82.24 88.63
      A 0.31 0.31 0.0 0 1 82.41 88.10
      L 94.89 86.38
      A 0.31 0.31 0.0 0 0 95.12 86.22
      L 100.72 75.37
      A 0.31 0.31 0.0 0 1 101.28 75.37
      L 106.87 86.23
      A 0.31 0.31 0.0 0 0 107.10 86.39
      Z"
    />
    <path d="
      M 40.41 115.21
      L 46.01 104.37
      A 0.31 0.31 0.0 0 1 46.57 104.37
      L 52.17 115.19
      A 0.31 0.31 0.0 0 0 52.40 115.35
      L 64.89 117.10
      A 0.31 0.31 0.0 0 1 65.06 117.63
      L 56.02 125.99
      A 0.31 0.31 0.0 0 0 55.93 126.28
      L 58.09 138.16
      A 0.31 0.31 0.0 0 1 57.64 138.49
      L 46.44 132.84
      A 0.31 0.31 0.0 0 0 46.16 132.84
      L 34.94 138.47
      A 0.31 0.31 0.0 0 1 34.49 138.14
      L 36.66 126.29
      A 0.31 0.31 0.0 0 0 36.56 126.00
      L 27.49 117.61
      A 0.31 0.31 0.0 0 1 27.66 117.07
      L 40.18 115.37
      A 0.31 0.31 0.0 0 0 40.41 115.21
      Z"
    />
    <path d="
      M 143.66 126.01
      L 134.62 117.62
      A 0.31 0.31 0.0 0 1 134.79 117.08
      L 147.27 115.36
      A 0.31 0.31 0.0 0 0 147.50 115.20
      L 153.10 104.38
      A 0.31 0.31 0.0 0 1 153.66 104.38
      L 159.26 115.20
      A 0.31 0.31 0.0 0 0 159.49 115.36
      L 171.99 117.09
      A 0.31 0.31 0.0 0 1 172.16 117.62
      L 163.11 126.01
      A 0.31 0.31 0.0 0 0 163.01 126.30
      L 165.21 138.18
      A 0.31 0.31 0.0 0 1 164.76 138.51
      L 153.54 132.85
      A 0.31 0.31 0.0 0 0 153.26 132.85
      L 142.04 138.47
      A 0.31 0.31 0.0 0 1 141.59 138.14
      L 143.75 126.30
      A 0.31 0.31 0.0 0 0 143.66 126.01
      Z"
    />
    <path d="
      M 180.50 180.01
      Q 180.98 180.26 181.04 180.80
      C 182.05 189.73 176.91 196.46 170.68 201.97
      Q 161.51 210.07 149.66 217.00
      Q 126.90 230.30 101.47 240.80
      A 1.16 1.16 0.0 0 1 100.59 240.80
      Q 73.68 229.80 49.51 215.28
      C 40.80 210.05 31.61 203.50 25.26 195.45
      Q 20.07 188.87 20.94 180.81
      Q 21.00 180.26 21.49 180.01
      L 100.44 139.67
      Q 101.00 139.38 101.56 139.67
      L 180.50 180.01
      Z"
    />
  </svg>
</template>