<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" fill="currentColor" width="32" height="32">
    <path d="M135.636,157.449c-6.48-10.237-12.692-20.094-18.955-29.918c-2.083-3.268-3.763-6.681-0.549-9.978
      c3.246-3.33,6.657-1.664,9.931,0.433c9.807,6.283,19.65,12.511,29.073,18.504c9.365-6.011,18.237-12.189,27.564-17.578
      c14.103-8.148,29.426-13.258,45.45-16.055c3.531-0.616,4.969-1.987,5.719-5.457c5.173-23.914,10.57-47.78,15.9-71.659
      c0.254-1.136,0.585-2.255,0.839-3.392c0.756-3.376,2.288-5.939,6.233-5.946c3.906-0.007,5.576,2.497,6.347,5.858
      c2.306,10.059,4.591,20.122,6.84,30.194c3.41,15.27,6.86,30.531,10.103,45.837c0.581,2.745,1.807,3.888,4.469,4.355
      c25.78,4.524,48.887,15.083,69.401,31.265c2.46,1.94,4.086,1.777,6.507,0.193c9.056-5.926,18.238-11.659,27.382-17.449
      c3.26-2.064,6.716-3.568,9.946-0.246c3.092,3.181,1.448,6.418-0.529,9.523c-5.903,9.268-11.877,18.494-17.537,27.909
      c-0.828,1.377-0.879,4.307,0.038,5.486c16.267,20.904,26.94,44.242,31.699,70.339c0.287,1.574,2.822,3.505,4.622,3.92
      c23.84,5.496,47.736,10.748,71.617,16.066c0.974,0.217,1.947,0.443,2.908,0.71c3.315,0.922,5.929,2.695,5.81,6.478
      c-0.119,3.766-2.801,5.416-6.173,6.166c-19.659,4.375-39.318,8.753-58.977,13.13c-5.36,1.193-10.765,2.223-16.05,3.687
      c-1.386,0.384-3.23,1.965-3.46,3.248c-5.009,27.976-16.552,52.9-34.848,74.911c6.067,9.565,12.038,18.962,17.988,28.373
      c0.888,1.405,2.288,2.839,2.372,4.321c0.137,2.409,0.21,5.932-1.207,7.035c-1.712,1.332-5.53,1.648-7.516,0.623
      c-6.044-3.12-11.648-7.093-17.418-10.742c-4.782-3.025-9.556-6.063-14.103-8.949c-8.25,5.309-16.143,10.822-24.443,15.634
      c-14.673,8.507-30.522,14.024-47.23,16.944c-3.178,0.556-4.687,1.72-5.421,5.152c-5.154,24.088-10.607,48.111-15.972,72.154
      c-0.254,1.137-0.24,2.557-0.929,3.332c-1.822,2.048-3.692,4.836-6.038,5.456c-3.626,0.958-5.628-1.952-6.406-5.43
      c-3.595-16.08-7.204-32.156-10.799-48.236c-2.034-9.096-4.173-18.172-6.006-27.309c-0.606-3.019-1.846-4.506-4.962-5.059
      c-25.581-4.543-48.578-14.927-68.912-31.091c-2.314-1.84-3.923-2.102-6.481-0.406c-8.881,5.886-17.944,11.5-26.944,17.206
      c-3.3,2.092-6.8,4.469-10.354,0.9c-3.45-3.464-1.493-7.024,0.658-10.394c5.821-9.124,11.557-18.303,17.465-27.37
      c1.384-2.123,1.427-3.588-0.214-5.652c-16.48-20.734-27.195-44.127-31.608-70.27c-0.623-3.69-2.791-4.303-5.608-4.927
      c-24.214-5.365-48.418-10.771-72.63-16.144c-3.445-0.765-6.558-1.939-6.824-6.093c-0.308-4.803,3.141-6.17,6.919-7.015
      c18.355-4.105,36.717-8.181,55.079-12.258c6.336-1.407,12.723-2.624,18.985-4.304c1.528-0.41,3.578-2.136,3.834-3.54
      C107.136,202.97,118.286,178.927,135.636,157.449z M256.693,320.98c35.655,0.038,64.171-28.333,64.217-63.89
      c0.046-35.365-28.303-63.939-63.555-64.06c-35.795-0.122-64.295,28.05-64.38,63.64C192.89,292.445,221.124,320.941,256.693,320.98
      z M252.323,181.533c0-38.83,0-77.977,0-118.201c-9.435,42.53-18.645,84.044-27.81,125.358
      C233.948,186.262,242.761,183.993,252.323,181.533z M224.571,325.616c9.103,40.97,18.305,82.389,27.507,123.808
      c0.428-37.244,0.428-74.366,0.428-111.487c0-1.165,0.351-2.498-0.097-3.454c-0.58-1.236-1.632-2.844-2.772-3.13
      C241.459,329.306,233.208,327.554,224.571,325.616z M261.577,63.744c0,39.821,0,79.168,0,117.793
      c9.5,2.454,18.44,4.764,27.7,7.157C280.121,147.391,270.894,105.771,261.577,63.744z M261.366,449.567
      c0.112,0.024,0.224,0.047,0.335,0.071c9.163-41.311,18.326-82.622,27.551-124.212c-9.8,2.452-18.726,4.685-27.887,6.976
      C261.366,371.327,261.366,410.447,261.366,449.567z M448.344,261.399c-39.828,0-78.215,0-115.999,0
      c-2.355,9.407-4.581,18.295-6.837,27.305C366.058,279.69,406.585,270.682,448.344,261.399z M66.315,261.188
      c-0.075,0.128-0.15,0.255-0.225,0.382c40.783,9.052,81.566,18.104,122.17,27.116c-2.335-9.418-4.551-18.355-6.818-27.498
      C143.175,261.188,104.745,261.188,66.315,261.188z M188.693,224.411c-40.392,8.979-80.714,17.943-122.411,27.213
      c39.599,0,77.738,0,115.239,0C183.988,242.261,186.301,233.485,188.693,224.411z M325.106,224.432
      c2.39,9.088,4.729,17.979,7.182,27.305c37.593,0,75.624,0,113.656,0c0.008-0.153,0.016-0.307,0.024-0.46
      C405.615,242.314,365.262,233.351,325.106,224.432z M366.522,154.413c-17.809,17.755-35.517,35.41-53.37,53.208
      c1.117,1.465,2.214,3.123,3.53,4.583c2.661,2.955,10.558,3.839,12.157,1.34C341.414,193.879,353.935,174.179,366.522,154.413z
      M365.225,359.565c-12.911-20.275-25.189-39.479-37.351-58.757c-1.505-2.386-3.383-3.59-5.698-2.145
      c-3.601,2.247-6.859,5.045-10.359,7.683C329.909,324.374,347.114,341.518,365.225,359.565z M215.099,187.381
      c-19.936-12.692-39.806-25.343-56.77-36.143c14.882,14.969,32.045,32.232,49.241,49.528
      C212.511,198.276,215.397,194.021,215.099,187.381z M147.896,358.614c16.691-16.488,34.746-34.322,52.879-52.233
      c-1.486-1.896-2.824-3.807-4.368-5.532c-3.557-3.972-9.477-3.542-12.243,0.799c-3.575,5.61-7.161,11.212-10.732,16.824
      C164.553,332.424,155.679,346.38,147.896,358.614z M305.618,313.706c-1.453,1.124-2.842,2.035-4.039,3.152
      c-4.349,4.063-3.825,11.331,0.975,14.387c14.017,8.924,28.028,17.856,42.051,26.77c4.067,2.586,8.165,5.124,12.249,7.684
      c0.076-0.149,0.153-0.299,0.229-0.448C340.064,348.205,323.045,331.16,305.618,313.706z M305.098,200.088
      c17.476-17.494,34.384-34.421,51.292-51.347c-1.181,1.453-2.889,2.435-4.55,3.492c-16.016,10.192-32.02,20.403-48.036,30.596
      c-6.032,3.839-6.983,6.217-3.698,12.317C301.36,197.475,304.011,199.052,305.098,200.088z M148.614,156.725
      c-0.138,0.146-0.275,0.292-0.413,0.438c11.942,18.763,23.868,37.536,35.873,56.258c0.621,0.969,1.868,2.076,2.897,2.155
      c5.558,0.424,10.384-2.649,12.782-7.697C182.685,190.806,165.65,173.765,148.614,156.725z M208.666,314.195
      c-17.307,17.314-34.184,34.197-49.013,49.031c7.251-4.607,17.059-10.828,26.856-17.067c9.788-6.233,19.564-12.484,29.193-18.629
      C213.26,315.918,214.978,319.073,208.666,314.195z M201.718,146.656c5.28,8.802,10.042,16.741,15.435,25.73
      c2.666-12.1,5.016-22.765,7.601-34.499C216.579,140.999,209.507,143.691,201.718,146.656z M155.359,326.893
      c5.626-8.841,10.86-17.069,16.673-26.204c-9.421,2.891-17.874,5.484-26.873,8.245
      C148.727,315.218,151.902,320.806,155.359,326.893z M341.062,301.67c5.951,9.318,11.106,17.389,16.701,26.148
      c3.399-5.781,6.462-10.992,9.818-16.7C358.803,307.991,350.593,305.066,341.062,301.67z M301.81,171.398
      c8.83-5.643,16.589-10.602,24.947-15.943c-5.672-3.252-10.734-6.154-16.156-9.263C307.603,154.787,304.904,162.528,301.81,171.398
      z M369.835,207.892c-8.115,3.474-15.378,6.584-23.887,10.227c10.551,2.314,19.764,4.335,29.826,6.542
      C373.619,218.575,371.804,213.452,369.835,207.892z M168.996,211.91c0.263-0.271,0.526-0.543,0.789-0.814
      c-4.757-7.486-9.515-14.971-14.79-23.273c-3.123,5.436-5.857,10.195-8.79,15.298C154.283,206.237,161.64,209.073,168.996,211.91z
      M208.229,370.178c5.638,1.91,10.79,3.655,16.519,5.597c-2.205-9.883-4.179-18.729-6.42-28.771
      C214.789,355.126,211.705,362.202,208.229,370.178z M326.084,358.894c-8.226-5.222-15.562-9.877-23.945-15.198
      c3.162,8.612,5.903,16.076,8.811,23.996C316.195,364.642,320.733,362.004,326.084,358.894z M375.974,288.474
      c-10.135,2.255-19.444,4.326-30.108,6.699c9.073,3.19,16.687,5.868,24.899,8.756C372.46,298.9,374.069,294.124,375.974,288.474z
      M201.235,366.86c3.475-8.073,6.626-15.392,10.325-23.984c-8.894,5.694-16.39,10.492-24.423,15.635
      C192.038,361.414,196.409,364.002,201.235,366.86z M343.337,210.793c8.38-3.598,15.464-6.639,23.112-9.923
      c-2.795-4.704-5.277-8.88-8.093-13.618C353.304,195.171,348.639,202.483,343.337,210.793z M303.726,370.853
      c-2.846-7.842-5.488-15.124-8.434-23.241c-2.132,9.756-4.08,18.668-6.185,28.3C294.378,374.087,298.743,372.577,303.726,370.853z
      M295.315,166.343c2.826-8.144,5.366-15.463,8.1-23.342c-4.827-1.591-9.257-3.051-14.301-4.713
      C291.261,148.001,293.193,156.744,295.315,166.343z M143.007,210.259c-1.651,4.962-3.124,9.386-4.801,14.428
      c9.119-2.047,17.303-3.884,26.707-5.996C156.951,215.627,150.32,213.075,143.007,210.259z M165.498,294.537
      c-9.742-2.101-18.319-3.951-27.628-5.959c1.645,4.851,2.965,8.748,4.413,13.018C149.905,299.278,157.144,297.077,165.498,294.537z
      M186.176,156.259c6.374,4.046,12.16,7.719,17.946,11.392c0.249-0.224,0.499-0.448,0.748-0.672
      c-3.241-5.354-6.483-10.709-9.859-16.287C191.964,152.612,189.474,154.181,186.176,156.259z"/>
    <path d="M256.941,311.003c-29.503,0.081-53.877-24.099-54.016-53.584c-0.141-29.855,23.911-54.227,53.696-54.411
      c29.707-0.184,54.181,24.077,54.313,53.841C311.065,286.505,286.721,310.922,256.941,311.003z M256.924,215.834
      c-22.925,0.026-41.3,18.266-41.468,41.164c-0.164,22.414,18.766,41.36,41.414,41.448c22.683,0.088,41.2-18.504,41.242-41.408
      C298.155,234.015,279.955,215.808,256.924,215.834z"/>
    <path d="M289.422,257.022c-0.003,18.164-14.595,32.739-32.661,32.621c-18.106-0.118-32.698-14.88-32.508-32.887
      c0.191-18.014,14.48-32.173,32.53-32.234C275.168,224.461,289.425,238.659,289.422,257.022z"/>
  </svg>
</template>