<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 188.36 192.54" width="32" height="32" fill="currentColor">
    <path d="M119.05,22.23c-.85,17-.45,149.43.4,152.63h51.46c.7-6,.48-149.12-.31-152.41Q144.92,32.36,119.05,22.23Z" />
    <path
      d="M17.72,174.87H69.33V22.22a68.93,68.93,0,0,1-51.45.32c-.36.56-.59.77-.63,1a9.92,9.92,0,0,0-.11,1.63l.12,149.13c0,.11.12.23.2.33Z" />
    <path
      d="M12.83,15.34c20.49,0,41,.07,61.48-.07,3.66,0,6.72.59,9,3.6a10.74,10.74,0,0,0,1.31,1.21l3.59.58a5.9,5.9,0,0,1,.51.49.74.74,0,0,1,.19.36c.07,60.9.13,110.13.19,171H99.35c-.27-62.12-.13-169,.45-171.75l3.81-.71a4.24,4.24,0,0,0,.65-.46c5.34-5,3.58-4.26,10.77-4.27q30.12,0,60.24,0H180l8.39-10.46H108.72L103.61,0H84.82L79.73,4.78H0L8.36,15.34ZM118.36,8.77h53.56v3.28H118.36Zm-101.9,0H70v3.28H16.46Z" />
  </svg>
</template>
