<template>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0.00 0.00 512.00 512.00" height="32" width="32" fill="currentColor">
    <path d="M452.26,224.68c-0.8-2.293-2.357-5.92-4.67-10.88c-1.66-3.58-3.31-7.167-4.95-10.76c-6.5-14.28-15.157-29.85-25.97-46.71
      c-8.887-13.873-18.887-26.703-30-38.49c-21.68-22.99-49.97-42.01-82.82-40.39c-13.547,0.833-26.44,4.573-38.68,11.22
      c-4.51,2.45-8.4,5.82-13.74,2.59c-9.107-5.5-18.83-9.44-29.17-11.82c-38.5-8.86-72.46,12.04-97.95,39.45
      c-21.8,23.46-39.4,51.48-53.15,80.47c-1.987,4.18-4.06,8.537-6.22,13.07c-2.447,5.133-4.31,9.623-5.59,13.47
      c-7.173,21.593-5.713,42.59,4.38,62.99c24.44,49.4,61.08,96.06,109.72,123.58c27.493,15.553,56.97,22.967,88.43,22.24
      c0.493-0.013,1.39-0.107,2.69-0.28c0.92-0.127,1.823-0.157,2.71-0.09c27.407-2.18,52.853-10.41,76.34-24.69
      c43.93-26.7,76.8-68.06,100.8-113.03c3.893-7.307,6.653-13.37,8.28-18.19C458.687,260.603,458.54,242.687,452.26,224.68z
      M439.39,257.95c-10.88,25.613-24.833,48.88-41.86,69.8c-3.74,4.6-8.607,10.02-14.6,16.26c-9.893,9.833-20.447,18.587-31.66,26.26
      c-25.873,17.7-54.303,27.71-85.29,30.03c-6.373,0.48-13.033,0.473-19.98-0.02c-31.42-2.22-60.59-12.74-87.51-31.56
      c-25.16-17.59-45.48-40.22-62.86-67.05c-7.447-11.507-14.927-25.56-22.44-42.16c-1.23-2.72-1.7-5.04-0.47-7.9
      c13.36-30.99,31.96-58.38,57.12-80.22c43.2-37.51,102.06-50.2,158.22-42.14c48.17,6.91,89.48,30.81,119.94,69.07
      c13.24,17.013,23.79,35.09,31.65,54.23C440.317,254.177,440.23,255.977,439.39,257.95z"/>
    <path d="M197.8,150.78c16.873-5.167,33.713-8.013,50.52-8.54c0.127,0,0.23,0.103,0.23,0.23v61.36c0,0.348-0.282,0.63-0.63,0.63
      c0,0,0,0,0,0l-50.4,0.04c-0.26,0-0.47-0.215-0.47-0.48l-0.01-52.22C197.04,151.273,197.293,150.933,197.8,150.78z"/>
    <path d="M314.19,150.72c0.513,0.153,0.77,0.497,0.77,1.03l-0.01,52.51c0,0.127-0.098,0.23-0.22,0.23l0,0l-50.78,0.01
      c-0.367,0-0.55-0.183-0.55-0.55l0.08-61.2c0-0.34,0.167-0.507,0.5-0.5C280.753,142.81,297.49,145.633,314.19,150.72z"/>
    <path d="M140.06,182.58c12.89-10.66,26.67-19.46,41.57-25.72c0.407-0.173,0.61-0.037,0.61,0.41v46.77c0,0.237-0.193,0.43-0.43,0.43
      h0c-12.7,0.02-24.457,0.027-35.27,0.02c-7.367,0-11.6-3.53-12.7-10.59C133.05,188.85,136.43,185.58,140.06,182.58z"/>
    <path d="M330.38,156.82c16.11,6.92,30.93,16.46,44.03,27.92c4.67,4.09,5.01,10.19,1.42,15.19c-2.18,3.027-5.43,4.543-9.75,4.55
      c-11.713,0.013-23.733,0.017-36.06,0.01c-0.173,0-0.26-0.09-0.26-0.27v-46.98C329.76,156.78,329.967,156.64,330.38,156.82z"/>
    <path d="M350.5,296.64c12.513,5.573,23.957,12.873,34.33,21.9c0.211,0.185,0.237,0.503,0.06,0.72
      c-6.66,7.967-13.993,15.553-22,22.76c-0.267,0.247-0.507,0.22-0.72-0.08c-2.253-3.12-5.123-5.227-8.61-6.32
      c-1.82-0.567-5.223-0.85-10.21-0.85c-59.953-0.007-119.903-0.007-179.85,0c-5.233,0-9.8,2.37-13.7,7.11
      c-0.233,0.287-0.487,0.307-0.76,0.06c-8.173-7.387-15.523-14.997-22.05-22.83c-0.094-0.109-0.082-0.273,0.026-0.367
      c0.001-0.001,0.003-0.002,0.004-0.003c16.39-14.49,37-25.39,58.62-30.03c22.84-4.9,45.57-2.52,68.03,5.67
      c1.541,0.561,3.234,0.551,4.77-0.03C288.98,282.82,320.95,283.47,350.5,296.64z"/>
    <path d="M181.5,365.15c-6.987-4.053-13.333-8.17-19.04-12.35c-0.647-0.48-0.863-1.127-0.65-1.94c0.182-0.685,0.802-1.161,1.51-1.16
      h18.4c0.353,0,0.53,0.173,0.53,0.52l-0.01,14.5C182.24,365.293,181.993,365.437,181.5,365.15z"/>
    <path d="M200.59,374.28c-1.047-0.433-2.077-0.883-3.09-1.35c-0.307-0.14-0.46-0.377-0.46-0.71V350.2c0-0.333,0.17-0.5,0.51-0.5H248
      c0.367,0,0.55,0.183,0.55,0.55v34.04c0.002,0.464-0.378,0.841-0.847,0.842c-0.021,0-0.042-0.001-0.063-0.002
      C230.38,383.777,214.697,380.16,200.59,374.28z"/>
    <path d="M314.43,373.02c-14.35,6.44-30.31,10.23-45.98,11.73c-1.413,0.133-2.847,0.21-4.3,0.23c-0.467,0.007-0.7-0.223-0.7-0.69
      v-34.04c0-0.367,0.183-0.55,0.55-0.55h50.45c0.34,0,0.51,0.167,0.51,0.5v22.01C314.96,372.597,314.783,372.867,314.43,373.02z"/>
    <path d="M330.27,365.29c-0.347,0.2-0.52,0.1-0.52-0.3l0.01-14.77c0-0.353,0.173-0.53,0.52-0.53l18.26,0.01
      c0.827,0.001,1.535,0.59,1.68,1.4c0.12,0.667-0.097,1.207-0.65,1.62C343.87,357.013,337.437,361.203,330.27,365.29z"/>
  </svg>
</template>
