<template>
  <svg fill="currentColor" height="32" width="32" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 420.001 420.001" xml:space="preserve">
    <path d="M199.135,84.708c5.119,3.45,10.916,5.83,16.967,7.011l0.063,0.015c14.992,2.911,30.76-1.917,41.572-12.7
      c10.967-10.95,15.783-27.132,12.594-42.295c-3.117-14.772-13.564-27.416-27.51-33.217c-14.264-5.936-30.896-4.291-43.713,4.344
      s-20.578,23.438-20.436,38.895C178.815,61.861,186.621,76.285,199.135,84.708z"/>
    <path d="M394.613,93.812c-2.447-0.666-4.98-0.999-7.514-0.999c-5.953,0-11.662,0.038-17.211,2.589
      c-0.902,0.414-1.781,0.876-2.633,1.382c-0.66,0.391-1.082,0.726-1.629,0.878c-3.158-0.006-8.096-0.016-9.52,0.004
      c-4.016,0-7.961,1.389-11.086,3.91c-0.617,0.495-0.971,1.273-1.77,1.224c-1.238-0.078-2.479-0.155-3.719-0.232
      c-14.506-0.907-29.01-1.814-43.518-2.721c-19.926-1.244-39.854-2.489-59.777-3.734c-12.209-0.763-24.393-2.289-36.619-2.289
      c-18.303,0-26.395,5.61-29.518,7.453c-9.906,5.854-17.162,14.901-21.305,25.575c-5.486,14.136-10.975,28.273-16.459,42.413
      c-5.547,14.285-12.957,28.271-18.504,42.556c-0.119,0.315-0.242,0.63-0.363,0.941c-0.646,1.672-1.172,3.389-1.672,5.108
      c-2.67,9.192-0.232,10.276-1.934,15.165c-1.711,5.55-1.008,3.262-2.719,8.813c-5.531,17.945-11.09,35.88-16.693,53.803
      c-1.256,4.023-3.762,12.076-3.762,12.076s-2,2.11-2.594,2.711c-1.809,1.829-3.637,3.644-5.473,5.444
      c-7.123,6.983-14.361,13.85-21.619,20.689c-12.813,12.073-25.738,24.02-38.67,35.963c-2.324,2.145-4.672,4.266-6.971,6.435
      c-5.354,4.98-7.881,12.516-6.648,19.719c2.547,14.893,19.824,22.838,32.781,15.102c2.908-1.736,5.574-3.99,8.289-6
      c6.539-4.837,13.074-9.675,19.611-14.513c15.156-11.281,30.289-22.607,45.195-34.215c5.691-4.431,11.434-8.833,16.799-13.656
      c7.819-7.029,14.73-23.613,17.342-29.528c4.207-9.533,8.311-19.116,12.461-28.675c15.523,9.883,62.424,40.387,62.424,40.387
      s8.52,25.963,11.338,35.318c2.588,8.592,5.09,17.209,7.59,25.827c1.645,5.679,2.922,11.597,4.982,17.14
      c5.248,14.115,23.641,18.761,34.963,8.826c5.207-4.568,8-11.488,7.391-18.393c-0.537-6.062-1.77-12.115-2.691-18.128
      c-2.816-18.402-5.656-36.813-9.166-55.099c-1.566-8.164-2.953-16.695-6.086-24.437c-1.578-3.896-2.852-7.062-20.775-22.104
      l-37.932-31.143l17.975-46.316c2.516,2.4,5.027,4.803,7.537,7.204c4.971,4.756,11.881,6.151,18.418,4.333
      c4.154-1.157,8.309-2.313,12.463-3.473c2.404-0.668,4.777-0.113,7.252-0.6c1.951-0.386,3.883-0.895,5.818-1.347
      c0.537-0.126,2.695-0.672,3.951-0.993c0.623,0.214,2.736,0.917,4.734,1.319c4.084,0.822,8.254,0.675,12.305-0.269
      c5.609-1.307,10.953-2.633,15.633-6.226c11.586-8.904,14.457-25.738,6.439-37.971c-3.814-5.819-9.777-10.096-16.506-11.861
      c-6.014-1.58-11.664-0.625-17.574,0.751c-3.152,0.734-6.172,1.733-8.984,3.371c-1.664,0.971-3.227,2.111-4.656,3.396
      c-0.647,0.583-1.267,1.2-1.857,1.841c-2.277,0.473-7.254,1.639-8.664,1.968c-1.07,0.248-2.123,0.525-3.146,0.932
      c-0.941,0.375-1.152,0.907-1.719,0.14c-3.867-5.248-7.738-10.497-11.607-15.746c12.488-0.78,24.973-1.561,37.455-2.341
      c17.736-1.108,35.473-2.217,53.209-3.324c1.787-0.113,3.574-0.225,5.363-0.336c0.941-0.06,1.15,0.568,1.951,1.211
      c3.125,2.523,7.07,3.91,11.086,3.91l9.744-0.003c0.324,0.219,0.648,0.436,0.98,0.64c0.984,0.608,2.006,1.145,3.057,1.629
      c5.525,2.539,11.271,2.635,17.211,2.589c14.074,0,26.375-10.709,28.25-24.673C417.231,111.165,408.246,97.525,394.613,93.812z"/>
  </svg>
</template>