<template>
  <svg width="32" height="32" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-224.000000, -6127.000000)" fill="currentColor">
        <g transform="translate(56.000000, 160.000000)">
          <path d="M172,5973 L170,5973 L170,5979 L172,5979 L172,5977 L176,5977 L176,5979 L178,5979 L178,5973 L176,5973 L176,5971 L172,5971 L172,5973 Z M176,5971 L180,5971 L180,5967 L176,5967 L176,5971 Z M168,5971 L172,5971 L172,5967 L168,5967 L168,5971 Z"></path>
        </g>
      </g>
    </g>
  </svg>
</template>