<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="32" width="32" fill="currentColor">
    <g>
      <g>
        <path d="M326.714,18.143c-0.055,11.477-0.11,22.953-0.165,34.43l0.315-0.293c-45.814,0-91.628,0-137.442,0l0.315,0.293
          c-0.055-11.477-0.11-22.953-0.165-34.43C235.286,18.143,281,18.143,326.714,18.143z"/>
        <path d="M292.263,463.713c0.055,11.477,0.11,22.953,0.165,34.43c-22.857,0-45.714,0-68.571,0
          c0.055-11.477,0.11-22.953,0.165-34.43l-0.315,0.293c22.957,0,45.913,0,68.87,0L292.263,463.713z"/>
        <path d="M52.573,429.406c-11.477,0.055-22.953,0.11-34.43,0.165c0-22.857,0-45.714,0-68.571c11.477,0.055,22.953,0.11,34.43,0.165
          l-0.293-0.315c0,22.957,0,45.913,0,68.87L52.573,429.406z"/>
        <path d="M498.143,429.571c-11.477-0.055-22.953-0.11-34.43-0.165l0.294,0.315c0-22.957,0-45.913,0-68.87l-0.293,0.315
          c11.477-0.055,22.953-0.11,34.43-0.165C498.143,383.857,498.143,406.714,498.143,429.571z"/>
        <path d="M52.573,361.165c0-56.716,0-113.432,0-171.429c11.741,0,23.013,0,34.286,0c0,0-0.293-0.315-0.293-0.315
          c0,56.969,0,113.937,0,171.429c-12.259,0-23.272,0-34.286,0L52.573,361.165z"/>
        <path d="M86.858,189.737c0-22.434,0-44.869,0-68.571c11.748,0,23.017,0,34.286,0c0,0-0.293-0.315-0.293-0.315
          c0,22.691,0,45.382,0,68.571c-12.266,0-23.276,0-34.286,0L86.858,189.737z"/>
        <path d="M155.451,86.858c0-11.008,0-22.015,0-34.286c11.748,0,23.017,0,34.286,0c0,0-0.315-0.293-0.315-0.293
          c0,11.266,0,22.532,0,34.286c-12.272,0-23.279,0-34.286,0L155.451,86.858z"/>
        <path d="M121.144,121.165c0-11.013,0-22.026,0-34.307c11.764,0,23.035,0,34.307,0c0,0-0.315-0.293-0.315-0.293
          c0,11.266,0,22.532,0,34.286c-12.271,0-23.278,0-34.286,0L121.144,121.165z"/>
        <path d="M429.427,189.737c11.014,0,22.027,0,34.286,0c0,57.484,0,114.456,0,171.428c0,0,0.293-0.315,0.293-0.315
          c-11.272,0-22.545,0-34.286,0c0-58.004,0-114.716,0-171.429L429.427,189.737z"/>
        <path d="M395.142,121.165c11.011,0,22.022,0,34.286,0c0,23.182,0,45.877,0,68.571c0,0,0.293-0.315,0.293-0.315
          c-11.269,0-22.537,0-34.286,0c0-23.71,0-46.141,0-68.571L395.142,121.165z"/>
        <path d="M326.549,52.573c11.01,0,22.02,0,34.286,0c0,11.751,0,23.019,0,34.286l0.315-0.293c-11.266,0-22.532,0-34.286,0
          c0-12.272,0-23.279,0-34.286L326.549,52.573z"/>
        <path d="M360.835,86.858c11.012,0,22.024,0,34.307,0c0,11.764,0,23.035,0,34.307c0,0,0.294-0.315,0.294-0.315
          c-11.266,0-22.532,0-34.286,0c0-12.272,0-23.279,0-34.286L360.835,86.858z"/>
        <path d="M224.022,463.713c-10.991,0-21.981,0-34.108,0c0-11.234,0-22.054,0-34.307c-23.766,0-46.412,0-69.059,0l0.293,0.315
          c0-11.255,0-22.511,0-33.682c34.879,0,68.507,0,102.558,0c0,23.155,0,45.562,0,67.968L224.022,463.713z"/>
        <path d="M120.856,429.406c0,10.993,0,21.985,0,33.711c-22.648,0-44.853,0-68.283,0c0-11.213,0-22.462,0-33.711
          c0,0-0.293,0.315-0.293,0.315c22.957,0,45.913,0,68.87,0L120.856,429.406z"/>
        <path d="M395.43,429.406c-22.388,0-44.777,0-68.303,0c0,11.476,0,22.292,0,34.307c-12.366,0-23.615,0-34.864,0
          c0,0,0.315,0.293,0.315,0.294c0-22.665,0-45.33,0-67.997c34.824,0,68.452,0,102.558,0c0,11.716,0,22.714,0,33.712L395.43,429.406z
          "/>
        <path d="M463.713,429.406c0,10.992,0,21.983,0,33.711c-22.648,0-44.853,0-68.283,0c0-11.213,0-22.462,0-33.711
          c0,0-0.293,0.315-0.293,0.315c22.957,0,45.913,0,68.87,0L463.713,429.406z"/>
        <path d="M189.737,189.716c0-10.997,0-21.993,0-33.708c45.503,0,90.539,0,136.812,0c0,11.199,0,22.453,0,33.708l0.315-0.293
          c-11.224,0-22.448,0-34.701,0c0,12.357,0,23.289,0,34.22c-11.187,0-22.374,0-33.165,0c0,12.604,0,23.39,0,33.96
          c11.39,0,21.918,0,32.836,0c0-11.769,0-23.008,0.013-34.236c11.681,0.221,23.349,0.43,35.017,0.639c0,0-0.299-0.299-0.299-0.299
          c0,22.957,0,45.913,0,68.87l0.299-0.299c-11.238,0-22.477,0-33.684,0c0,12.29,0,23.083,0,34.584c11.723,0,22.704,0,33.684,0
          l-0.315-0.293c0,10.997,0,21.993,0,33.708c-45.503,0-90.539,0-136.812,0c0-11.199,0-22.453,0-33.708l-0.315,0.293
          c11.238,0,22.477,0,33.684,0c0-12.294,0-23.081,0-34.584c-11.725,0-22.705,0-33.684,0l0.299,0.299c0-22.957,0-45.913,0-68.87
          l-0.299,0.299c11.238,0,22.477,0,33.684,0c0-12.294,0-23.081,0-34.584c-11.723,0-22.704,0-33.684,0L189.737,189.716z"/>
        <path d="M155.43,292.263c-10.988,0-21.976,0-33.693,0c0-22.629,0-44.829,0-68.241c11.205,0,22.449,0,33.694,0l-0.293-0.315
          c0,22.957,0,45.913,0,68.87L155.43,292.263z"/>
        <path d="M360.856,224.022c10.988,0,21.976,0,33.693,0c0,22.629,0,44.829,0,68.241c-11.205,0-22.449,0-33.694,0l0.294,0.315
          c0-22.957,0-45.913,0-68.87L360.856,224.022z"/>
        <path d="M360.856,292.263c0,11.012,0,22.025,0,34.307c-11.764,0-23.035,0-34.307,0c0,0,0.315,0.293,0.315,0.293
          c0-11.528,0-23.056,0-34.584l-0.299,0.299c11.528,0,23.056,0,34.584,0L360.856,292.263z"/>
        <path d="M326.549,189.716c11.012,0,22.024,0,34.307,0c0,11.764,0,23.035,0,34.307c0,0,0.293-0.315,0.293-0.315
          c-11.528,0-23.056,0-34.584,0l0.299,0.299c0-11.528,0-23.056,0-34.584L326.549,189.716z"/>
        <path d="M189.737,326.57c-11.012,0-22.024,0-34.307,0c0-11.764,0-23.035,0-34.307c0,0-0.293,0.315-0.293,0.315
          c11.528,0,23.056,0,34.584,0l-0.299-0.299c0,11.528,0,23.056,0,34.584L189.737,326.57z"/>
        <path d="M155.43,224.022c0-11.012,0-22.025,0-34.307c11.764,0,23.035,0,34.307,0c0,0-0.315-0.293-0.315-0.293
          c0,11.528,0,23.056,0,34.584l0.299-0.299c-11.528,0-23.056,0-34.584,0L155.43,224.022z"/>
      </g>
    </g>
  </svg>
</template>