<template>
  <svg fill="currentColor" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M 16 5 C 14.962 5 13.959859 5.1547344 13.005859 5.4277344 L 14.447266 9.1796875 C 14.947266 9.0656875 15.466 9 16 9 C 16.534 9 17.052734 9.0656875 17.552734 9.1796875 L 18.994141 5.4277344 C 18.040141 5.1557344 17.038 5 16 5 z M 11.140625 6.1523438 C 9.640625 6.8983437 8.3334531 7.9741094 7.3144531 9.2871094 L 10.699219 11.441406 C 10.794906 11.330431 10.897782 11.225936 11 11.121094 L 11 11.130859 C 11.03 11.080859 11.080859 11.03 11.130859 11 L 11.113281 11 C 11.550813 10.571578 12.042212 10.198893 12.580078 9.8964844 L 11.140625 6.1523438 z M 20.859375 6.1523438 L 19.419922 9.8984375 C 19.955179 10.199772 20.440888 10.574268 20.876953 11 L 20.869141 11 C 20.919141 11.03 20.97 11.080859 21 11.130859 L 21 11.115234 C 21.166599 11.285851 21.325854 11.463392 21.474609 11.650391 L 24.939453 9.6289062 C 23.888453 8.1609063 22.488375 6.9623437 20.859375 6.1523438 z M 6.234375 10.970703 C 5.451375 12.481703 5 14.189 5 16 L 9 16 C 9 14.976 9.2270469 14.005906 9.6230469 13.128906 L 6.234375 10.970703 z M 16 11 C 15.66 11 15.32 11.029609 15 11.099609 L 15 25 L 17 25 L 17 11.099609 C 16.68 11.029609 16.34 11 16 11 z M 25.949219 11.353516 L 22.484375 13.375 C 22.813375 14.187 23 15.072 23 16 L 27 16 C 27 14.34 26.615219 12.768516 25.949219 11.353516 z M 13 12 C 11.79 12.91 11 14.37 11 16 L 11 25 L 13 25 L 13 12 z M 19 12 L 19 25 L 21 25 L 21 16 C 21 14.37 20.21 12.91 19 12 z M 5 18 L 5 22 L 9 22 L 9 18 L 5 18 z M 23 18 L 23 22 L 27 22 L 27 18 L 23 18 z M 5 24 L 5 27 L 9 27 L 9 24 L 5 24 z M 23 24 L 23 27 L 27 27 L 27 24 L 23 24 z" />
  </svg>
</template>