<template>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 1024 1024" style="enable-background:new 0 0 1024 1024;" height="32" width="32" fill="currentColor" xml:space="preserve">
    <g transform="translate(0.000000,1024.000000) scale(0.100000,-0.100000)">
      <path d="M4775,10224c-22-2-92-9-155-15c-1504-139-2903-976-3748-2241C445,7328,175,6629,61,5870c-40-272-46-367-46-750
        s6-478,46-750C289,2841,1188,1504,2516,717c567-335,1195-557,1854-656c272-40,367-46,750-46s478,6,750,46
        c1529,228,2866,1127,3653,2455c335,567,557,1195,656,1854c40,272,46,367,46,750s-6,478-46,750c-228,1529-1127,2866-2455,3653
        c-625,369-1294,592-2054,683C5543,10221,4885,10234,4775,10224z M5280,7925c46-25,92-53,103-62c47-43,68-105,156-463
        c172-698,285-1041,462-1401c75-153,196-359,211-359c18,0,154,221,388,630c342,596,505,920,671,1330c43,107,87,206,97,220
        c33,45,97,73,165,72c74,0,132-19,198-64l49-33v-115c0-63-5-299-10-525c-5-225-14-1114-20-1975c-12-1863-24-2529-46-2572
        c-28-54-93-107-152-124c-70-21-111-10-176,48l-48,41l7,311c4,171,9,1114,10,2096s5,1817,10,1855c5,48,4,67-3,60
        c-37-37-417-762-778-1486c-139-279-181-354-218-393c-81-83-153-98-211-43c-29,26-79,132-284,592c-401,903-508,1129-521,1104
        c-4-8-10-41-14-74c-113-1089-148-1775-171-3435c-8-493-7-490-74-536c-49-33-109-32-186,5c-33,15-67,37-76,47c-16,18-14,133,21,1609
        c52,2144,58,2319,100,2782c36,394,84,656,146,793c26,59,72,110,98,110C5191,7970,5234,7950,5280,7925z M3894,7551
        c137-36,181-87,174-202c-4-76-23-111-78-143c-27-16-63-20-234-27c-125-5-221-13-255-23c-215-60-344-228-413-536
        c-19-88-23-133-23-275c0-166,1-172,33-265c38-109,96-222,207-400c109-175,235-394,348-605c354-663,453-1155,341-1705
        c-85-423-254-676-525-786c-110-45-226-64-399-64c-190,0-252,15-425,100c-266,132-421,312-418,486c1,93,42,156,128,195
        c80,37,171,14,238-60c19-21,60-82,92-135c100-167,155-208,310-228c164-21,311,25,400,124c177,197,267,752,190,1175
        c-69,379-226,718-629,1353c-207,327-275,479-312,690c-42,244,19,608,146,861c144,287,361,445,675,489
        C3567,7585,3804,7574,3894,7551z"/>
    </g>
  </svg>
</template>