<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="32" width="32" fill="currentColor">
   <path d="M19,386.741c0.491-2.684,0.765-5.429,1.509-8.04c4.654-16.334,15.254-26.625,31.795-30.544
      c10.526-2.494,20.513-0.724,29.869,4.654c0.845,0.486,1.46,0.463,2.289-0.129c21.035-15.016,42.093-29.999,63.146-44.989
      c10.13-7.212,20.259-14.426,30.387-21.642c0.046-0.033,0.066-0.104,0.017-0.023c-10.176-37.785-2.799-71.547,22.407-101.479
      c-6.193-7.068-12.464-14.18-18.684-21.337c-7.033-8.091-14.019-16.221-21.028-24.333c-0.806-0.932-1.524-1.98-2.476-2.73
      c-0.549-0.432-1.509-0.587-2.241-0.502c-4.174,0.486-8.346,1.621-12.498,1.533c-9.53-0.203-18.124-3.377-25.564-9.514
      c-7.457-6.151-12.309-13.885-14.384-23.31c-2.701-12.27-0.356-23.589,6.911-33.796c6.391-8.977,15.176-14.564,25.926-16.668
      c12.429-2.433,23.839,0.321,33.904,8.084c8.497,6.554,13.818,15.216,15.636,25.747c1.463,8.471,0.644,16.856-3.11,24.752
      c-0.596,1.254-0.429,1.991,0.504,3.039c4.714,5.293,9.289,10.709,13.946,16.053c4.578,5.253,9.214,10.455,13.791,15.709
      c4.616,5.298,9.19,10.632,13.781,15.952c0.241,0.28,0.465,0.575,0.715,0.887c18.509-10.403,38.101-15.464,59.313-14.266
      c21.099,1.191,39.973,8.242,57.36,20.773c0.436-0.602,0.77-1.219,1.245-1.695c22.079-22.1,44.163-44.195,66.282-66.255
      c1.045-1.042,1.432-1.933,0.867-3.359c-2.033-5.133-2.869-10.518-2.549-15.994c0.556-9.529,3.779-18.058,10.059-25.382
      c6.292-7.338,14.126-11.991,23.575-13.936c1.88-0.387,3.783-0.668,5.675-0.997c1.732,0,3.465,0,5.197,0
      c1.859,0.264,3.745,0.409,5.573,0.814c7.65,1.691,14.486,4.954,20.312,10.326c6.549,6.039,10.789,13.346,12.706,22.01
      c0.48,2.167,0.757,4.379,1.128,6.57c0,1.609,0,3.217,0,4.826c-0.339,2.021-0.62,4.054-1.026,6.061
      c-1.9,9.395-6.538,17.167-13.791,23.444c-7.45,6.447-16.15,9.692-25.887,10.181c-5.418,0.272-10.716-0.672-15.805-2.581
      c-1.185-0.444-1.965-0.364-2.923,0.597c-22.361,22.424-44.756,44.814-67.169,67.186c-0.858,0.856-0.922,1.378-0.186,2.43
      c11.064,15.827,17.344,33.443,18.669,52.656c0.688,9.981,0.08,19.976-2.077,29.861c-4.259,19.513-13.391,36.364-27.096,50.785
      c-2.664,2.803-5.623,5.325-8.483,8.011c4.704,5.691,9.435,11.437,14.191,17.162c4.522,5.443,9.087,10.851,13.603,16.299
      c4.475,5.399,8.891,10.847,13.405,16.212c0.401,0.477,1.423,0.843,2.008,0.69c6.521-1.7,13.065-1.862,19.657-0.544
      c9.824,1.964,17.951,6.929,24.126,14.685c8.352,10.49,11.411,22.506,8.259,35.668c-3.859,16.116-13.997,26.505-29.839,31.294
      c-2.237,0.676-4.578,1.013-6.87,1.507c-2.846,0-5.692,0-8.538,0c-0.75-0.13-1.503-0.248-2.25-0.393
      c-10.116-1.967-18.781-6.453-25.467-14.486c-7.351-8.831-10.704-18.879-9.818-30.393c0.408-5.311,1.664-10.323,4.086-15.043
      c0.516-1.006,0.234-1.611-0.455-2.405c-2.741-3.159-5.4-6.388-8.072-9.606c-4.006-4.826-8-9.661-11.993-14.497
      c-3.916-4.742-7.816-9.498-11.741-14.232c-3.887-4.687-7.813-9.341-11.683-14.042c-0.734-0.892-1.339-0.983-2.454-0.553
      c-10.783,4.157-21.948,6.539-33.519,6.875c-2.72,0.079-5.444,0.012-8.166,0.012c-3.945,0-3.933,0.004-5.25,3.729
      c-3.018,8.537-6.061,17.066-9.04,25.617c-0.194,0.558-0.166,1.479,0.174,1.886c1.379,1.655,3.014,3.097,4.384,4.759
      c8.41,10.204,11.41,21.921,8.988,34.838c-1.904,10.153-7.121,18.493-15.26,24.956c-9.905,7.866-21.247,10.41-33.5,8.387
      c-10.756-1.776-19.523-7.382-26.077-16.084c-7.549-10.023-10.15-21.393-7.646-33.68c2.175-10.673,7.799-19.341,16.688-25.738
      c5.743-4.133,12.111-6.81,19.214-7.492c1.262-0.121,1.788-0.807,2.154-1.869c1.746-5.058,3.504-10.112,5.283-15.159
      c1.369-3.886,2.775-7.758,4.208-11.756c-19.151-8.098-34.715-20.427-46.646-37.253c-30.274,21.546-60.379,42.972-90.457,64.378
      c1.425,6.788,1.439,11.752,0.155,17.741c-2.037,9.501-6.693,17.493-14.239,23.742c-9.627,7.973-20.698,11.109-32.985,9.436
      c-8.201-1.117-15.478-4.55-21.737-10.13c-6.865-6.122-11.349-13.569-13.28-22.549c-0.442-2.054-0.75-4.137-1.119-6.207
      C19,390.205,19,388.473,19,386.741z M222.052,255.098c-0.191,31.569,25.564,56.319,55.296,56.979
      c33.533,0.745,57.646-25.73,58.629-54.623c1.169-34.382-25.914-57.78-53.391-59.313C247.34,196.173,221.485,225.004,222.052,255.098
      z"/>
  </svg>
</template>