<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
    viewBox="0 0 281.7 325.3" xml:space="preserve" height="32" width="32" fill="currentColor">
    <g>
      <polygon points="166.6,75.5 9.2,85.8 1.2,81.3 93.8,254.3 	"/>
      <polygon points="139.8,4.8 170.6,67.7 11.8,78.1 	"/>
      <polygon points="176.1,67.6 146.7,7.5 269,77.5 	"/>
      <polygon points="179.3,73 278.1,83.5 277.7,233.1 	"/>
      <polygon points="174.9,75.3 275.8,239.7 97.7,251.5 	"/>
      <polygon points="98.3,256.5 269.8,245.1 141.6,320.6 	"/>
      <polygon points="3.7,240.4 3.7,91.2 89.3,251.2 	"/>
      <polygon points="13,246.6 92.4,256.6 132.7,316.3 	"/>
    </g>
  </svg>
</template>