<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" height="32" width="32" fill="currentColor">
    <g>
      <circle cx="256.5" cy="437.609" r="9.5"/>
      <circle cx="439.772" cy="254.337" r="9.5"/>
      <circle cx="73.228" cy="254.337" r="9.5"/>
      <circle cx="386.093" cy="124.744" r="9.5"/>
      <circle cx="126.907" cy="383.93" r="9.5"/>
      <circle cx="386.093" cy="383.93" r="9.5"/>
      <circle cx="126.907" cy="124.744" r="9.5"/>
      <circle cx="256.5" cy="71.065" r="9.5"/>
    </g>
    <path d="M256,29C130.631,29,29,130.631,29,256s101.631,227,227,227s227-101.631,227-227S381.369,29,256,29z M256,470
      c-118.189,0-214-95.811-214-214S137.811,42,256,42s214,95.811,214,214S374.189,470,256,470z"/>
    <g>
      <path d="M203.818,308.676c-10.404,10.402-20.806,20.803-31.186,31.182c-3.157,3.157-8.647,8.646-13.655,13.653
        c-0.958,0.958-1.918,1.917-2.876,2.876c-0.906,0.906-1.771,1.771-2.58,2.579c-1.031,1.031-2.063,2.063-3.094,3.093
        C177.573,389.208,215.075,406,256.5,406c0-8.257,0-28.06,0-75.5C235.926,330.5,217.3,322.16,203.818,308.676z"/>
      <path d="M406.5,256.008c-25.283-0.001-50.372-0.003-75.5-0.004c-0.001,20.571-8.339,39.195-21.82,52.676
        c4.111,4.111,8.221,8.222,12.327,12.327c8.682,8.682,17.345,17.345,25.991,25.991c4.308,4.308,8.601,8.601,12.874,12.874
        c0.642,0.642,1.288,1.288,1.93,1.93c0.088,0.088,0.177,0.177,0.265,0.265C389.709,334.923,406.498,297.426,406.5,256.008z"/>
      <path d="M309.182,203.324c17.783-17.781,35.55-35.546,53.39-53.383C335.427,122.792,297.925,106,256.5,106
        c0,27.581,0,52.668,0,75.5C277.074,181.5,295.7,189.84,309.182,203.324z"/>
      <path d="M139.293,255.993c14.266,0.001,28.501,0.002,42.708,0.002c0.001-20.571,8.34-39.194,21.82-52.675
        c-2.894-2.894-5.786-5.786-8.669-8.669c-6.779-6.779-13.551-13.551-20.305-20.305c-1.842-1.842-3.815-3.815-5.857-5.857
        c-3.155-3.155-6.302-6.302-9.445-9.445c-3.163-3.163-6.27-6.27-9.111-9.111c-27.143,27.143-43.931,64.639-43.934,106.057
        c4.806,0,10.105,0.001,15.062,0.001C127.45,255.992,133.362,255.992,139.293,255.993z"/>
      <path d="M331,256c0-20.571-8.338-39.195-21.818-52.676l0,0C295.7,189.84,277.074,181.5,256.5,181.5
        c-20.573,0-39.198,8.339-52.679,21.821c-13.481,13.481-21.819,32.104-21.82,52.675l0,0c0,0.002,0,0.003,0,0.005
        c0,20.571,8.338,39.195,21.818,52.676C217.3,322.16,235.926,330.5,256.5,330.5c20.573,0,39.198-8.339,52.679-21.821
        c13.481-13.481,21.819-32.104,21.82-52.676l0,0C331,256.003,331,256.001,331,256z"/>
    </g>
  </svg>
</template>