<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="50 50 47 69" width="32" height="32" fill="currentColor">
    <path class="cls-1" d="M58.98,69.807a18.788,18.788,0,0,0,29.041,0Z" />
    <path class="cls-1" d="M88.021,99.194a18.789,18.789,0,0,0-29.042,0Z" />
    <path class="cls-2"
      d="M93.024,57.886v-.737H53.977v.737A19.553,19.553,0,0,0,67.126,76.335L59.482,83.98v1.042l7.643,7.644a19.554,19.554,0,0,0-13.148,18.449v.737H93.024v-.737A19.554,19.554,0,0,0,79.876,92.666l7.644-7.644V83.98l-7.644-7.645A19.554,19.554,0,0,0,93.024,57.886ZM61.045,84.5l7.683-7.684a19.44,19.44,0,0,0,3.073.514L65.152,83.98v1.042L71.8,91.67a19.447,19.447,0,0,0-3.072.514Zm5.67,0L73.5,77.715,80.286,84.5,73.5,91.286Zm24.82,25.877H55.466a18.05,18.05,0,0,1,36.069,0ZM85.956,84.5l-7.683,7.683A19.427,19.427,0,0,0,75.2,91.67l6.649-6.648V83.98L75.2,77.331a19.427,19.427,0,0,0,3.072-.514ZM73.5,75.935A18.07,18.07,0,0,1,55.466,58.623H91.535A18.07,18.07,0,0,1,73.5,75.935Z" />
  </svg>
</template>
