<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 485 459" style="enable-background:new 0 0 485 459;" width="32" height="32" xml:space="preserve" fill="currentColor">
    <path d="M177.39,154.79L245.08,28.5c0.086-0.155,0.28-0.211,0.435-0.125c0.1,0.056,0.163,0.16,0.165,0.275l-0.02,190.89
      c-0.001,0.177-0.146,0.319-0.322,0.318c-0.081-0.001-0.159-0.032-0.218-0.088l-67.66-64.6
      C177.354,155.073,177.326,154.918,177.39,154.79z"/>
    <path d="M252.91,28.62l66.27,124.74c0.063,0.118,0.043,0.263-0.05,0.36l-66.27,65.77c-0.121,0.122-0.317,0.122-0.438,0.002
      c-0.059-0.059-0.092-0.138-0.092-0.222V28.76c0.007-0.171,0.151-0.304,0.322-0.298C252.759,28.466,252.857,28.526,252.91,28.62z"/>
    <path d="M434.45,224.88l-176.61,0.04c-0.166-0.002-0.298-0.139-0.296-0.304c0.001-0.077,0.032-0.151,0.086-0.206l66.2-65.79
      c0.099-0.097,0.252-0.114,0.37-0.04l110.4,65.74c0.144,0.083,0.193,0.266,0.11,0.41C434.657,224.823,434.557,224.88,434.45,224.88z"
      />
    <path d="M63.63,224.24l108.71-64.17c0.132-0.078,0.3-0.057,0.41,0.05l67.3,64.19c0.138,0.127,0.147,0.342,0.02,0.48
      c-0.067,0.072-0.161,0.112-0.26,0.11L63.8,224.87c-0.188-0.004-0.337-0.16-0.333-0.347C63.47,224.407,63.531,224.3,63.63,224.24z"/>
    <path d="M240.29,232.07l-66.15,65.61c-0.106,0.106-0.271,0.126-0.4,0.05L63.49,232.09c-0.155-0.096-0.202-0.3-0.105-0.455
      c0.059-0.095,0.163-0.154,0.275-0.155l176.4,0.03c0.182,0.004,0.327,0.154,0.323,0.337C240.382,231.93,240.348,232.01,240.29,232.07
      z"/>
    <path d="M434.4,232.1l-108.76,64.19c-0.126,0.075-0.287,0.054-0.39-0.05l-67.27-64.19c-0.127-0.123-0.13-0.325-0.008-0.452
      c0.06-0.062,0.142-0.097,0.228-0.098h176.04c0.177-0.003,0.322,0.138,0.325,0.315C434.567,231.933,434.504,232.043,434.4,232.1z"/>
    <path d="M245.05,427.68l-66.22-124.64c-0.068-0.129-0.044-0.288,0.06-0.39l66.22-65.87c0.131-0.127,0.34-0.124,0.467,0.007
      c0.058,0.06,0.092,0.14,0.093,0.223v190.52c-0.004,0.182-0.155,0.327-0.337,0.323C245.214,427.85,245.106,427.784,245.05,427.68z"/>
    <path d="M320.6,301.57l-67.63,126.18c-0.088,0.166-0.294,0.228-0.46,0.14c-0.111-0.059-0.18-0.174-0.18-0.3V236.86
      c0.006-0.188,0.162-0.335,0.35-0.33c0.082,0.002,0.16,0.034,0.22,0.09l67.63,64.54C320.644,301.265,320.673,301.433,320.6,301.57z"
      />
  </svg>
</template>