<template>
  <svg fill="currentColor" width="32" height="32" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path d="M23.045 15.973l7.071 12.247h-14.142l7.071-12.247zM8.903 15.973l7.071 12.247h-14.142l7.071-12.247zM15.974 3.727l7.071 12.247h-14.142l7.071-12.247z"></path>
  </svg>
</template>