<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import ProjectSection from './components/ProjectSection.vue'
import ResumeSection from './components/ResumeSection.vue'
import { onMounted } from 'vue'

const i18n = useI18n()

function toggleLocale() {
  const nextLocale = getNextLocaleWhenToggle()
  i18n.locale.value = nextLocale
  localStorage.setItem('locale', i18n.locale.value)
}

function getNextLocaleWhenToggle() {
  const locales = i18n.availableLocales.sort()
  const index = locales.indexOf(i18n.locale.value)
  return locales[(index + 1) % locales.length]
}

onMounted(() => {
  localStorage.setItem('locale', i18n.locale.value)
})
</script>

<template>
  <header class="bg-zinc-700 p-4 flex print:hidden">
    <img class="rounded-full aspect-square h-fit hidden md:block" :alt="$t('image')" src="./assets/francoisallard.jpg" width="256" height="256" />
    <div class="flex flex-col p-4">
      <h1 class="text-4xl text-emerald-400">@BinarMorker</h1>
      <p class="py-4 px-1">
        {{ $t('header') }}
      </p>
      <div class="flex gap-2">
        <a class="bg-zinc-100 hover:bg-zinc-300 rounded-full w-16 h-16 grid place-items-center" href="https://gitlab.com/binarmorker">
          <svg width="50px" height="50px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
            <path fill="#FC6D26" d="M14.975 8.904L14.19 6.55l-1.552-4.67a.268.268 0 00-.255-.18.268.268 0 00-.254.18l-1.552 4.667H5.422L3.87 1.879a.267.267 0 00-.254-.179.267.267 0 00-.254.18l-1.55 4.667-.784 2.357a.515.515 0 00.193.583l6.78 4.812 6.778-4.812a.516.516 0 00.196-.583z"/>
            <path fill="#E24329" d="M8 14.296l2.578-7.75H5.423L8 14.296z"/>
            <path fill="#FC6D26" d="M8 14.296l-2.579-7.75H1.813L8 14.296z"/>
            <path fill="#FCA326" d="M1.81 6.549l-.784 2.354a.515.515 0 00.193.583L8 14.3 1.81 6.55z"/>
            <path fill="#E24329" d="M1.812 6.549h3.612L3.87 1.882a.268.268 0 00-.254-.18.268.268 0 00-.255.18L1.812 6.549z"/>
            <path fill="#FC6D26" d="M8 14.296l2.578-7.75h3.614L8 14.296z"/>
            <path fill="#FCA326" d="M14.19 6.549l.783 2.354a.514.514 0 01-.193.583L8 14.296l6.188-7.747h.001z"/>
            <path fill="#E24329" d="M14.19 6.549H10.58l1.551-4.667a.267.267 0 01.255-.18c.115 0 .217.073.254.18l1.552 4.667z"/>
          </svg>
        </a>
        <a class="bg-zinc-100 hover:bg-zinc-300 rounded-full w-16 h-16 grid place-items-center" href="https://www.linkedin.com/in/binarmorker/">
          <svg width="50px" height="50px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
            <path fill="#0A66C2" d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z"/>
          </svg>
        </a>
        <a class="bg-zinc-100 hover:bg-zinc-300 rounded-full w-16 h-16 grid place-items-center" href="mailto:info@binar.ca">
          <svg fill="#000000" width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M22,3H2A1,1,0,0,0,1,4V20a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V4A1,1,0,0,0,22,3ZM21,19H3V9.477l8.628,3.452a1.01,1.01,0,0,0,.744,0L21,9.477ZM21,7.323l-9,3.6-9-3.6V5H21Z"/></svg>
        </a>
      </div>
    </div>
    <button class="absolute top-4 right-4 w-24 h-8 hidden md:grid place-items-center bg-zinc-100 hover:bg-zinc-300 rounded-lg text-zinc-800 text-lg" @click="toggleLocale">
      {{ $t(`language.${getNextLocaleWhenToggle()}`) }}
    </button>
    <button class="absolute top-4 right-4 w-10 h-8 grid md:hidden place-items-center bg-zinc-100 hover:bg-zinc-300 rounded-lg text-zinc-800 text-lg" @click="toggleLocale">
      {{ getNextLocaleWhenToggle().toUpperCase() }}
    </button>
  </header>

  <main>
    <div class="grid place-items-center p-4 print:hidden">
      <a v-if="i18n.locale.value === 'fr'" class="h-8 px-4 grid place-items-center bg-zinc-100 hover:bg-zinc-300 rounded-lg text-zinc-800 text-lg" target="_blank" href="/download/FrancoisAllard_FR.pdf">
        {{ $t('resume.download') }}
      </a>
      <a v-if="i18n.locale.value === 'en'" class="h-8 px-4 grid place-items-center bg-zinc-100 hover:bg-zinc-300 rounded-lg text-zinc-800 text-lg" target="_blank" href="/download/FrancoisAllard_EN.pdf">
        {{ $t('resume.download') }}
      </a>
    </div>
    <ResumeSection />
    <ProjectSection />
  </main>
</template>
